<footer>
  <a class="email" href="mailto:projects@jono.nz">projects@jono.nz</a>
  <ul class="social">
    <li><a href="https://twitter.com/consindo">Twitter</a></li>
    <li><a href="https://github.com/consindo">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/jono-cooper">LinkedIn</a></li>
    <li class="copyright">
      &copy; <%= date(new Date(), 'YYYY') %>
    </li>
  </ul>
</footer>
