<footer>
&copy; <%= date(new Date(), 'YYYY') %> jono.nz 
&middot;&nbsp;<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">some rights reserved</a>
<div class="right">made in new zealand</div>
</footer>