<nav class="sidebar" id="main-navigation" data-turbolinks-permanent>
  <h2><a href="/">Jono Cooper</a></h2>
  <ul id="navigation">
    <li><a href="mailto:projects@jono.nz">projects@jono.nz</a></li>
  </ul>
</nav>
