<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="sidebar">
  <img class="fb" src="/css/images/fb.png" alt="https://m.me/jonocoopernz" title="Messenger Code">
  <h1><a href="/">Jono Cooper</a></h1>
  <ul>
    <li><a href="/work"><img src="/css/images/icons/work.png">work</a></li>
    <li><a href="/archives"><img src="/css/images/icons/blog.png">blog</a></li>
    <li><a href="/projects"><img src="/css/images/icons/projects.png">projects</a></li>
    <li><a href="/me"><img src="/css/images/icons/me.png">me</a></li>
  </ul>
  <ul>
    <li><a href="mailto:&#106;&#111;&#110;&#111;&#064;&#106;&#111;&#110;&#111;&#099;&#111;&#111;&#112;&#101;&#114;&#046;&#099;&#111;&#109;"><img src="/css/images/icons/mail.png">email</a></li>
    <li><a href="https://m.me/jonocoopernz"><img src="/css/images/icons/message.png">messenger</a></li>
    <li><a href="https://twitter.com/consindo"><img src="/css/images/icons/twitter.png">twitter</a></li>
    <li><a href="https://github.com/consindo"><img src="/css/images/icons/github.png">github</a></li>
  </ul>
  <footer>
    <div><a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img title="This work is licensed under a Creative Commons Attribution 4.0 International License." alt="Creative Commons License" style="border-width:0" src="/css/images/cc.png" /></a></div>
    <div>&copy; <%= date(new Date(), 'YYYY') %> jono.nz</div>
    <div>made in new zealand</div>
  </footer>
</nav>