<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="sidebar">
  <h1><a href="/">Jono Cooper</a></h1>
  <ul>
    <li><a href="/work"><img width="13" src="/css/images/icons/work.png">work</a></li>
    <li><a href="/archives"><img width="13" src="/css/images/icons/blog.png">blog</a></li>
    <li><a href="/projects"><img width="12" src="/css/images/icons/projects.png">projects</a></li>
    <li><a href="/me"><img width="12" src="/css/images/icons/me.png">me</a></li>
  </ul>
</nav>