<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="sidebar">
  <h1><a href="/">Jono Cooper</a></h1>
  <ul id="navigation">
    <li><a href="<%- url_for("/archives/") %>"><img width="13" src="/css/images/icons/blog.png">Blog</a></li>
    <li><a href="<%- url_for("/work/") %>"><img width="13" src="/css/images/icons/work.png">Portfolio</a></li>
    <li><a href="<%- url_for("/me/") %>"><img width="12" src="/css/images/icons/me.png">Me</a></li>
  </ul>
  <button id="expand">Menu</button>
</nav>