.home {
	padding: 25vh 1.5rem 0;
	
	h1 {
		max-width: $ideal-width - 800px;
		width: 85%;
		font-weight: 400;
		font-family: $serif;
		color: #666;
		font-size: 1.75rem;
		line-height: 1.3;
		letter-spacing: -0.5px;
		
		@media (min-width: 600px) {
			width: 75%;
			font-size: 2.25rem;
		}
		
		@media (min-width: 1000px) {
			width: 50%;
		}

		
		em {
			font-style: normal;
			color: #000;
		}
		
		a {
			text-decoration: none;
			border-bottom: 1px dotted #000;
		}
	}
	
	h2 {
		font-size: 1.5rem;
		margin-bottom: 0.75rem;
	}
	
	p {
		font-family: $serif;
		font-size: 1.35rem;
		max-width: $ideal-width - 800px;
		line-height: 1.4;		
		letter-spacing: -0.25px;
		margin-bottom: 0.75rem;

		a {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px dotted #000;
			
			&:hover {
				opacity: 0.65;
			}
		}
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-family: $serif;
		font-size: 1.35rem;
		line-height: 1.4;
		letter-spacing: -0.25px;
	}
	
	.projects-wrapper {
		padding: 1.5rem 0;
	}
	
	$grid-width = 230px;
	$grid-gap = 0.75rem;
	
	.projects {
		padding: .5rem 0;
		display: grid;
		grid-gap: 0.75rem;
		grid-template-columns: $grid-width;
		
		@media (min-width: 370px) {	
			grid-template-columns: repeat(2, $grid-width - 75px);
		}
		
		@media (min-width: 550px) {
			grid-template-columns: repeat(2, $grid-width);
		}
		
		@media (min-width: 750px) {
			grid-template-columns: repeat(3, $grid-width);
			
			.project.more {
				grid-row-start: 1;
				grid-column-start: 3;
			}
		}
		
		@media (min-width: 1000px) {
			grid-template-columns: repeat(4, $grid-width);	
			
			.project.more {
				grid-row-start: 1;
				grid-column-start: 4;
			}
		}
	}
	.project {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			h3 {
				opacity: 0.65;
			}
		}
		.image-wrapper {
			background-color: #aaa;
			width: 100%;
			height: 110px;
			border-radius: 7px;
			background-position: 50%;
			background-size: 100% auto;
			transition: 100ms ease all;
			box-shadow: 0 1px 2px rgba(0,0,0,0.15);
			
			&:hover {
				background-size: 110% auto;
			}
			
			@media (min-width: 370px) {
				height: 80px;
			}
			
			@media (min-width: 550px) {
				height: 110px;
			}
		}
		
		&.more {
			.image-wrapper {
				background: transparent;
				height: 40px;
				box-shadow: 0 0 0 #000;
			}
			h3 {
				border-bottom: 1px dotted #000;
				display: inline-block;
				line-height: 1.5;
				margin: 0;
			}
			@media (min-width: 370px) {	
				padding: 0 0.5rem;
			}
		}
		
		h3 {
			font-size: 1rem;
			font-weight: normal;
			margin: 0.5rem 0;
		}
	}
	
	.sales {
		display: grid;
		padding: 1.5rem 0 2rem;
		grid-gap: $grid-gap;
		
		@media (min-width: 700px) {
			grid-template-columns: $grid-width 1fr;	
		}
	}
}