html, body {
	height: 100%;
	font-family: 'Segoe UI', sans-serif;
	padding: 0;
	margin: 0;
}

#main {
	margin-left: 150px;
}

.article-type-page .article-header {
	text-align: center;
	
	h1 {
		font-size: 6em;
		letter-spacing: -3px;
		margin: 25px 0 0;
		display: inline-block;
		padding: 0 1px;
		line-height: 1.75;
		background: #000;
		color: #fff;
	}
	h2 {
		font-size: 1.3em;
		margin: 0 0 30px;
		display: inline-block;
	}
}

img {
	height: auto;
	width: 100%;
}

p {
	padding: 0;
	margin: 0 0 1.5em;
}

.article-meta .page {
	color: #999;
	margin-bottom: 0;
	padding: 0 40px 15px;
	font-size: 13px;
	// background: #000;
}