$ideal-width = 1600px;
$sans = 'Barlow', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
$serif = "EB Garamond", "Georgia", serif;

html, body {
	font-family: $sans;
	padding: 0;
	margin: 0;
}

#main {
	// margin-left: 150px;
}

@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI Emoji'),
       local(EmojiSymbols),
       local(Symbola);

/* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.emoji {
	font-family: "Emoji";
}

.article-entry {
	padding-top: 1rem;
	
	@media(max-width: 500px) {
	  padding-top: 48px;
	}
}

img {
	height: auto;
}

p {
	padding: 0;
	margin: 0 0 1.5em;
}

$footer-height = 32px;
.article-meta {
	margin: 0 0 1rem;
	p  {
		margin: 0;
		line-height: $footer-height;
	}
	@media (max-width: 500px) {
		float: none;
		padding-bottom: 15px;
		p {
			line-height: 24px;
		}
	}
}
footer {
	height: $footer-height;
	color: #999;
	font-size: 11px;
	line-height: $footer-height;
	padding: 0 1.5rem 1rem;
	font-weight: bold;
	
	.wrapper {
		max-width: $ideal-width - 30;
		margin: 0 auto;
		padding: 0 30px;
	}
	.copyright {
		display: inline-block;
		text-transform: uppercase;
		
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
	@media (max-width: 500px) {
		padding: 0;
		line-height: 24px;
		
		.wrapper {
			padding: 0 25px;
		}
	}
	
}