$ideal-width = 1600px;
html, body {
	height: 100%;
	font-family: 'Segoe UI', sans-serif;
	padding: 0;
	margin: 0;
}

#main {
	// margin-left: 150px;
}

@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI Emoji'),
       local(EmojiSymbols),
       local(Symbola);

/* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.emoji {
	font-family: "Emoji";
}

.article-type-page .article-header {
	text-align: center;
	background: url('images/projects.jpg') 50% 100% no-repeat;
	background-size: cover;
	height: 250px;
	padding-top: 300px;
		
	h1 {
		font-size: 6em;
		letter-spacing: -3px;
		margin: 25px 0 0;
		display: inline-block;
		padding: 0 1px;
		line-height: 1.75;
		// background: #000;
		color: #fff;
	}
	
	@media(max-width: 1000px) {
		padding-top: 200px;
		height: 150px;
		h1 {
			font-size: 4em;
			letter-spacing: -2px;
		}
	}
	@media(max-width: 700px) {
		background: url('images/projects_small.jpg') 50% 100% no-repeat;
		background-size: cover;
	}
	@media(max-width: 500px) {
		padding-top: 100px;
		height: 100px;
		h1 {
			letter-spacing: -1px;
			font-size: 3em;
		}
	}
}

.article-entry {
	padding-top: 60px;
}

img {
	height: auto;
}

p {
	padding: 0;
	margin: 0 0 1.5em;
}

$footer-height = 32px;
.article-meta {
	float: right;
	margin: 0;
	p  {
		margin: 0;
		line-height: $footer-height;
	}
	@media (max-width: 500px) {
		float: none;
		padding-bottom: 15px;
		p {
			line-height: 24px;
		}
	}
}
footer {
	height: $footer-height;
	color: #999;
	font-size: 12px;
	line-height: $footer-height;
	padding: 0 10px 15px;
	
	.wrapper {
		max-width: $ideal-width - 30;
		margin: 0 auto;
		padding: 0 30px;
	}
	.copyright {
		display: inline-block;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
	@media (max-width: 500px) {
		padding: 0;
		line-height: 24px;
		
		.wrapper {
			padding: 0 25px;
		}
	}
	
}