.article-type-post {
	max-width: 800px;
	margin: 0 auto;
	padding: 100px 40px 75px;

	.article-header {
		// text-align: center;
		// margin-bottom: 50px;
		
		h1 {
			font-size: 3em;
			letter-spacing: -2px;
			display: inline-block;
			line-height: 1.1;
		}
	}
	.article-entry {
		font-size: 20px;
		line-height: 1.58;
		color: #333;
		
		h2, h3 {
			margin: 0.5em 0;
			letter-spacing: -0.5px;
		}
		
		figure {
			background: #f5f5f5;
		}
		
		img {
			width: 100%;
		}
		
		a {
			color: #0084ff;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
		.article-meta {
			font-size: 14px;
			color: #999;
		}
		
	}
	#article-nav a {
		color: #000;
		text-decoration: none;
		font-size: 18px;
		transition: 150ms ease all;
		font-weight: bold;
		
		&:hover {
			background: #000;
			color: #fff;
		}
	}
}