$header-size = 60px;
$header-size-small = 48px;

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

nav.sidebar {
	// background: darken(#2f3d4c, 30%);
	width: 100%;
	height: $header-size;
	//transition: 500ms ease background;
	transform-origin: left center;
	color: lighten(#8793a0, 10%);
	position: fixed;
	z-index: 10;
	padding: 0 25px;
	display: flex;
	box-sizing: border-box;
	background: #000;
	
	h1 {
		margin: 0;
		flex: 1;
	}
	
	h1 a {
		text-transform: uppercase;
		letter-spacing: 0;
		display: block;
		font-size: 18px;
		text-decoration: none;
		font-weight: bold;
		line-height: $header-size;
		color: #fff;

		&:hover {
			color: #fff;
			opacity: 0.65;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		
		&:last-child a {
			padding: 0 0 0 10px;
		}
	}

	li a {
		text-decoration: none;
		display: block;
		color: #fff;
		padding: 0 10px;
		line-height: $header-size;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;

		&:hover {
			opacity: 0.65;
		}

		img {
			padding: 0;
			margin-right: 6px;
			vertical-align: top;
			margin-top: ($header-size / 2) - 6px;
		}
	}
	
	#expand {
		display: none;
		background-color: transparent;
		background-image: url('images/icons/menu.png');
		background-size: 11px 11px;
		background-repeat: no-repeat;
		background-position: 12px 52%;
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		padding-left: 30px;
		padding-right: 14px;
		margin-right: -14px;
		border: 0;
		outline: 0;
		color: #fff;
	}
	
	@media(max-width: 500px) {
		
		#expand {
			display: inline-block;
		}
		height: $header-size-small;
		
		h1 a {
			line-height: $header-size-small;
		}
		ul {
			position: absolute;
			display: none;
			top: $header-size-small;
			left: 0;
			right: 0;
			background: #222;

			&.visible {
				display: block;
				animation: show 300ms ease 1;

				&+ #expand {
					background-color: #222;
				}
			}
		}
		li {
			display: block;
			padding: 0 0.67em;
			
			&:hover {
				background: #000;
			}

			a {
				line-height: $header-size-small;
				
				img {
					margin-top: ($header-size-small /2) - 6px;
				}
			}
		}
	}
}
