$header-size = 48px;
$header-size-small = 48px;
$header-font-size = 14px;

nav.sidebar {
	background-color: #fff;
	width: 100%;
	height: $header-size;
	transition: 500ms ease background-color;
	transform-origin: left center;
	color: #000;
	position: fixed;
	z-index: 10;
	padding: 0 1.5rem;
	display: flex;
	box-sizing: border-box;
	
	h2 {
		margin: 0;
	}
	
	a {
		color: inherit;

		&:hover {
			opacity: 0.65;
		}
	}
	
	h2 a {
		letter-spacing: 0;
		display: block;
		font-size: $header-font-size + 1px;
		text-decoration: none;
		font-weight: 600;
		line-height: $header-size;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		flex: 1;
		text-align: right;
	}
	li {
		display: inline-block;
	}

	li a {
		text-decoration: none;
		display: block;
		line-height: $header-size;
		font-size: $header-font-size;
		font-weight: 600;
	}
}
