h1.work {
	display: inline-block;
	height: 65px;
	line-height: 50px;
	padding-top: 15px;
	// margin: 25px;
	margin: 0 25px;
	border-bottom: 4px solid #000;
	box-sizing: border-box;
	letter-spacing: -1px;
	// background: #000;
	// color: #fff;
}

.orbitsound {
	height: 500px;
	max-width: 1200px;
	background: url('images/orbitsound.jpg') 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
	
	div {
		position: absolute;
		left: 50%;
		top: 30%;
	}
	
	img {
		width: 420px;
		display: block;
		margin-left: -30px;
	}
	
	.big-button {
		margin-top: 0;
		border-color: #000;
		color: #000;
		
		&:hover {
			background: #000;
			color: #fff;
		}
	}
	
	@media (max-width: 1050px) {
		height: 400px;
		
		div {
			top: 25%;
		}
		
		img {
			width: 320px;
			margin-left: -25px;
		}
		
		.big-button {
			font-size: 14px;
			padding: 7px 35px;
		}
	}
	@media (max-width: 700px) {
		height: 300px;
		div {
			top: 20%;
		}
		
		img {
			width: 250px;
			margin-left: -20px;
		}
		.big-button {
			font-size: 13px;
			padding: 6px 30px;
		}
	}
	@media (max-width: 500px) {
		height: 300px;
		background-position: 50% 50%;
		
		div {
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
		}
		img {
			margin: 0 auto 175px;
		}
	}
	@media (max-width: 400px) {
		height: 275px;
		img {
			margin: 0 auto 150px;
		}
	}
}

.otherwork {
	// background: #000;
	font-size: 0;
	background: 
		linear-gradient(63deg, #000 23%, transparent 23%) 7px 0, 
		linear-gradient(63deg, transparent 74%, #000 78%), 
		linear-gradient(63deg, transparent 34%, #000 38%, #000 58%, transparent 62%), 
		#1a1a1a;
		background-size: 16px 48px;
	
	.dymajo, .hireme {
		width: 50%;
		display: inline-block;
		font-size: 16px;
		text-align: center;
		vertical-align: top;
		
		@media (max-width: 600px) {
			width: 100%;
		}
	}
	
	.dymajo {
		background: orange;
		background: url('images/dymajo.jpg') 50% 50%;
		background-size: cover;
		color: #fff;
		padding-bottom: 50px;
		
		h3 {
			font-weight: normal;
			font-size: 16px;
			max-width: 200px;
			margin: 15px auto 15px;
		}
		
		img {
			margin-top: 10%;
			width: 150px;
		}
	}
		
	a {
		font-size: 14px;
		text-decoration: none;
		vertical-align: top;
		padding: 5px 30px;
		border: 2px solid #fff;
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 25px;
		display: inline-block;
		transition: 300ms ease all;
		line-height: 1;
		
		&:hover {
			background: #fff;
			color: #000;
		}
	}
	
	h2 {
		// margin-top: 15%;
		font-weight: 300;
	}
	
	.hireme {
		color: #fff;
		padding-bottom: 75px;
		h2 {
			margin-top: 75px;
		}
		
	}
}