<style>
html, body, #container, #wrap, .outer, #main {
  height: 100%;
}
nav.sidebar, footer {
  background: transparent;
}
footer {
  margin-top: -32px;
  color: #fff;
  color: rgba(255,255,255,0.5);
  padding: 0 10px;
}
footer .wrapper {
  margin: 0;
  padding: 0;
}
</style>
<div class="home">
    <h2>Hi, I’m Jono</h2>
    <h3>I’m a software engineer currently based in Aotearoa, New Zealand. I make things, travel the world, and this is my super awesome website.</h3>
    <a href="/work/" class="big-button">View my work</a>
</div>
<footer>
<div class="wrapper">
  <div class="copyright">
    &copy; <%= date(new Date(), 'YYYY') %> Jono Cooper
  </div>
</div>
</footer>