<div class="home">
    <h2>Hi, I’m Jono</h2>
    <!-- <h2>你好，我叫Jono</h2> -->
    <h3>I’m a designer, developer, and student. I make things, travel the world, and this is my super awesome website.</h3>
    <a href="https://m.me/jonocoopernz" class="big-button">Message Me</a>
</div>
