<div class="home">
  <h1><em>Jono Cooper</em> is a product engineer based in Tāmaki Makaurau. He has a passion for delivering best-in-class products, from vision to execution.</h1>

  <div class="projects-wrapper">
    <h2>Selected Work</h2>
    <div class="projects">
      <a class="project" href="https://commuter.waka.app">
        <div class="image-wrapper" style="background-image: url(/images/waka-commuter.webp)"></div>
        <h3>Waka Commuter</h3>
      </a>
      <a class="project" href="https://turbomaps.io">
        <div class="image-wrapper" style="background-image: url(/images/turbomaps.webp)"></div>
        <h3>Turbomaps</h3>
      </a>
      <a class="project" href="https://waka.app">
        <div class="image-wrapper" style="background-image: url(/images/waka.webp)"></div>
        <h3>Waka</h3>
      </a>
      <a class="project more" href="/archives">
        <div class="image-wrapper"></div>
        <h3>&rarr; More projects</h3>
      </a>
    </div>
  </div>
  <div class="sales">
    <div>
      <h2>Services</h2>
      <ul>
        <li>Product Strategy</li>
        <li>Cloud Strategy</li>
        <li>Front-End Development</li>
        <li>DevOps Engineering</li>
        <li>Custom Analytics</li>
        <li>Interface Design</li>
        <li>Experience Design</li>
        <li>Customer Research</li>
      </ul>
    </div>
    <div>
      <h2>Bio</h2>
      <p>As a product engineer, I love to bring ideas to life. I take projects through the discovery process to ensure we're building the right product. A beautiful &amp; thoughtful design comes next, before the engineering &amp; deployment process that enables the vision to become reality. It’s a wide range of disciplines, but it enables the very best outcomes.</p>
      <p>Currently at <a href="https://www.kiwibank.co.nz">Kiwibank</a>, I’m helping build a cloud platform to enable a new cloud-native bank. Previously, I was working on open banking at <a href="https://www.xero.com">Xero</a>, where we enabled millions of customers to automatically import their transactional data every single day.</p>
      <p>Alongside work, I love to spend time with family &amp; friends in beautiful Tāmaki Makaurau, Aotearoa. I’m passionate about the climate, transport, and making our cities better places to live.</p>
    </div>
  </div>
  <h1><em>Have a cool project?</em> <a href="mailto:projects@jono.nz"><em>Let’s chat.</em></a></h1>
</div>