<div class="home">
    <h2>Hi, I’m Jono</h2>
    <!-- <h2>你好，我叫Jono</h2> -->
    <h3>I'm a teacher. I speak all over to whoever will listen. I have written code that you've used. I've been blogging for over a decade, coding for twice that, and podcasting for over half that.</h3>
    <a href="/work" class="big-button">Latest Work</a>
</div>
