---
title: Projects
date: 2024-08-28 14:53:36
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 1
---

<h1>Projects</h1>

<h2>Currently</h2>

<dl class="projects-list">
  <dt>Turbomaps</dt>
  <dd>
    <p>Create and share beautiful maps.</p>
    <p><a href="https://turbomaps.io">turbomaps.io</a></p>
  </dd>
  <dt>waka-next</dt>
  <dd>
    <p>A rewrite of Waka that runs both on and offline.</p>
    <p><a href="https://next.waka.app">next.waka.app</a></p>
  </dd>
</dl>

<h2>Previously</h2>

<dl class="projects-list">
  <dt>Waka</dt>
  <dd>
    <p>Your realtime guide to public transport in Auckland, Wellington, and Christchurch.</p>
    <p><a href="/tags/waka">Blog Posts</a> &middot; <a href="https://waka.app">waka.app</a></p>
  </dd>
  <dt>Waka Commuter</dt>
  <dd>
    <p>Discover how we get around, using travel data from the 2018 Census.</p>
    <p><a href="{{"source/_posts/waka-commuter.md" | inputPathToUrl}}">Blog Post</a> &middot; <a href="https://commuter.waka.app">commuter.waka.app</a></p>
  </dd>
  <dt>Same Scale</dt>
  <dd>
    <p>Compare two maps with the same scale and see the difference in our built environments.</p>
    <p><a href="{{"source/_posts/samescale.md" | inputPathToUrl}}">Blog Post</a> &middot; <a href="https://scale.waka.app">scale.waka.app</a></p>
  </dd>
  <dt>Net Zero Waka</dt>
  <dd>
    <p>Discover your trip options, and their impact on the climate in Tāmaki Makaurau, Auckland.</p>
    <p><a href="https://netzero.waka.app">netzero.waka.app</a></p>
  </dd>
</dl>

<h2>Archived</h2>

<dl class="projects-list">
  <dt>Every Lot Bot</dt>
  <dd>
    <p>Twitter bots to post imagery of every lot in Auckland, Wellington, Tokyo, and Christchurch.</p>
    <p><a href="{{"source/_posts/every-lot-bot.md" | inputPathToUrl}}">Blog Post</a> &middot; <a href="https://github.com/consindo/everylotbot-k8s">github.com/consindo/everylotbot-k8s</a></p>
  </dd>
  <dt>Map Creator</dt>
  <dd>
    <p>A never released tool to generate London underground style metro maps.</p>
    <p><a href="{{"source/_posts/mapcreator.md" | inputPathToUrl}}">Blog Post</a></p>
  </dd>
  <dt>GPA Calculator</dt>
  <dd>
    <p>Work out what grade you need so you don’t fail.</p>
    <p><a href="/projects/gpa">jono.nz/projects/gpa</a></p>
  </dd>
  <!-- <dt>Transfer</dt>
  <dd>
    <p>A never released Windows app to connect to FTP servers.</p>
    <p><a href="/projects/transfer">jono.nz/projects/transfer</a></p>
  </dd> -->
  <dt>Stormcloud</dt>
  <dd>
    <p>A weather app for Linux & Windows Phone that was once very popular.</p>
    <p><a href="https://github.com/consindo/stormcloud">github.com/consindo/stormcloud</a></p>
  </dd>
  <dt>Lightread</dt>
  <dd>
    <p>A RSS reader that won the Ubuntu App Showdown.</p>
    <p><a href="https://www.omgubuntu.co.uk/2012/08/ubuntu-app-showdown-winners-announced">Ubuntu App Showdown</a> &middot; <a href="https://github.com/stayradiated/LightRead">github.com/stayradiated/lightread</a></p>
  </dd>
  <dt>Nitro</dt>
  <dd>
    <p>An app to organize your life &amp; get things done.</p>
    <p><a href="https://github.com/nitrotasks/nitro">github.com/nitrotasks/nitro</a></p>
  </dd>
  <dt>Gradiator</dt>
  <dd>
    <p>Make CSS gradients with ease.</p>
    <p><a href="/projects/gradiator">jono.nz/projects/gradiator</a></p>
  </dd>
  <!-- todo-inator, springseed still missing -->
  <p><em>There’s still a few projects missing—they will be restored soon!</em></p>
</dl>

<a class="button" href="/archives">Blog Posts &rarr;</a> <a class="button" href="https://github.com/consindo">GitHub &rarr;</a>
